@if (errorMessage()) {
<div class="alert alert-danger" role="alert">
  {{ errorMessage() }}
</div>
} @if (codeSent()) {
<div class="container-fluid">
  <form #activateForm="ngForm" (ngSubmit)="onActivate()">
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input
        type="email"
        class="form-control"
        id="code"
        name="code"
        required
        aria-describedby="codeHelp"
        [(ngModel)]="codeRequest.code"
        #code="ngModel"
      />
      @if (code.invalid && (code.dirty || code.touched)){
      <div class="text-danger">Code is required.</div>
      }

      <div id="emailHelp" class="form-text">
        Don't share your code with anyone else.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

}@else {
<form #getActivateCodeForm="ngForm" (ngSubmit)="onGetActivateCode()">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      [(ngModel)]="email"
      required="true"
      email="true"
      #emailModel="ngModel"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
    @if (emailModel.invalid && (emailModel.dirty || emailModel.touched)){
    <div class="text-danger">Please enter valid email.</div>
    }
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="emailModel.invalid">
    Submit
  </button>
</form>
}
